[Unit]
Description=Robot Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/ubuntu/robot/robot_service.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
