<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="static/jqwidgets/styles/jqx.base.css" type="text/css" />
        <link rel="stylesheet" href="static/jqwidgets/styles/jqx.dark.css" type="text/css" />
        <link rel="stylesheet" media="all" href="static/main.css">
        <link rel="stylesheet" media="all" href="static/programmer.css">
        <link href="static/jqwidgets/styles/jqx.bootstrap.css" rel="stylesheet">

        <script src="static/jquery-3.2.1.min.js"></script>
        <script src="static/jqwidgets/jqxcore.js"></script>
        <script src="static/jqwidgets/jqxbuttons.js"></script>
        <script src="static/jqwidgets/jqxtabs.js"></script>
        <script src="static/jqwidgets/jqxdraw.js"></script>
        <script src="static/jqwidgets/jqxgauge.js"></script>
        <script src="static/jqwidgets/jqxbuttongroup.js"></script>
        <script src="static/jqwidgets/jqxsortable.js"></script>
        <script src="static/jqwidgets/jqxkanban.js"></script>
        <script src="static/jqwidgets/jqxdata.js"></script>

        <script src="static/bootstrap-3.3.7/js/bootstrap.min.js"
                crossorigin="anonymous"></script>
        <script src="static/script.js?version=1"></script>
        <script src="static/joystick.js?version=1"></script>
        <script src="static/programmer.js?version=1"></script>
        <script src="static/keypad.js?version=1"></script>
        <title>Rominet Control Panel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    </head>

    <body>
        <div id="jqxWidget">
            <div id="jqxTabs">
                <ul>
                    <li>Drive</li>
                    <li>Jeu</li>
                    <li>Misc</li>
                </ul>
                <div class=container id="tab1">
                    <div class="row">
                        <div class="col-xs-2">
                            <span id="positionX"></span>
                        </div>
                        <div class="col-xs-2">
                            <span id="positionY"></span>
                        </div>
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-3">
                            <input type="button" value="Reset Odom" id='resetOdometryButton' />
                        </div>
                        <div class="col-xs-3">
                            <input type="button" value="Refresh On" id='jqxRefreshButton' />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div id="batteryGauge"></div>
                        </div>
                        <div class="col-xs-3">
                            <div id="speedGauge"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div id="joystick" ></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                            <img src="/rominet/api/camera?123" class="img-responsive" alt="Responsive image" id="web_cam">
                        </div>
                    </div>

                </div>
                <div class="container" id="tab2">
                    <div class="row">
                        <div class="col-xs-6">
                            <table>
                                <tr>
                                    <td></td>
                                    <td><button id="Prog_Move_Forward"> </button></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><button id="Prog_Turn_Left"></button></td>
                                    <td><button id="Prog_Play_Note"></button></td>
                                    <td><button id="Prog_Turn_Right"></button></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><button id="Prog_Move_Backward"></button></td>
                                </tr>
                                <tr>
                                    <td><button id="Prog_Erase_Program"></button></td>
                                    <td><button id="Prog_Play_Program"></button></td>
                                    <td><button id="Prog_Stop_Program"></button></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-xs-6">
                            <div id="kanban1"></div>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                        </div>
                    </div>
                </div>
                <div class="container" id="tab3">
                    <div class="row">
                        <div class="col-xs-6">
                            <table>
                                <tr>
                                    <td></td>
                                    <td><button id="Move_Forward"> </button></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><button id="Turn_Left"></button></td>
                                    <td><button id="Play_Note"></button></td>
                                    <td><button id="Turn_Right"></button></td>
                                    <td></td>
                                    <td><button id="Stop_Program"></button></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><button id="Move_Backward"></button></td>
                                </tr>
                                <tr>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <table class="table">
                                <tr><th>LEDs</th>
                                    <td class="center"><input type="button" id="led_red" ></td>
                                    <td class="center"><input type="button" id="led_green" ></td>
                                    <td class="center"><input type="button" id="led_yellow" ></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <textarea class="form-control" rows="1" id="notes" maxlength="14" >l16ceg>c</textarea>
                        </div>
                        <div class="col-xs-1">
                            <button class="btn btn-primary" type="submit" onclick="playNotes()">Play</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-danger" onClick="shutdown()">Shutdown</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
